.header_logo{
    display: flex;
    justify-content: space-between;
    margin: 30px;
   
}
.Header{
    border: 1px solid black;
}

.header_logo >img{
    width: 60px;
}

.header_logo >button{
    color: #a7aebe;
    background-color: transparent;
    border: none;
}