.header_logo{
    display: flex;
    justify-content: space-between;
    margin: 30px;
   
}
.Header{
    border: 1px solid black;
}

.header_logo >img{
    width: 60px;
}

.header_logo >button{
    color: #a7aebe;
    background-color: transparent;
    border: none;
    transition: transform 100ms ease-out;
    cursor: pointer;
}

.header_logo >button:hover{
    color: #fff;
    padding: 10px;
    transform: scale(1.2);
    background-color: #353535;
    border-radius: 10px;
}

.header_content{
    color: #fff;
    text-align: center;
    align-items: center;
    padding-top: 80px;
}

.header_content > .content_1{
   font-size: 50px;
   font-weight: bold;
   font-family: 'Graphik Web', 'Graphik', sans-serif;
   font-size:48px
}

.header_content > .content_2{
    font-family: 'Graphik Web', 'Graphik', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.header_content > .content_3{
    padding-top: 50px;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Graphik Web', 'Graphik', sans-serif;

}

.header_content > .content_3{
    font-weight: 400;
    font-size: 22px;
    font-family: 'Graphik Web', 'Graphik', sans-serif;
}